<!DOCTYPE html>
    <html>
        <body>
            <h1>Delete Book</h1>
            <p>Are you sure you want to delete {{title}}?</p>
            <form action="{{url_for('dictDel', book=id)}}" method= 'POST'>
                <input type='submit' value='Delete'>
            </form>
            <a href="{{url_for('showBook')}}">Cancel</a><br />
        </body>
    </html>