<!DOCTYPE html>
    <html>
        <body>
            <h1>Edit Book</h1>
            Name:
            <form action="{{url_for('dictEdit', book=id)}}" method= 'POST'>
                <input type="text" size="35" name='New Title' value='{{title}}'>
                <input type='submit' value='Edit'>
            </form>
            <a href="{{url_for('showBook')}}">Cancel</a><br />
        </body>
    </html>