<!DOCTYPE html>
    <html>
        <body>
            <h1>New Book</h1>
            Name:
            <form action="{{url_for('dictAdd')}}" method= 'POST'>
                <input type="text" size="35" name='NewBook'>
                <input type='submit' value='Create'>
            </form>
            <a href="{{url_for('showBook')}}">Cancel</a><br />
        </body>
    </html>