<!DOCTYPE html>
    <html>
    <title>Books</title>

    <body>
        <h1>Books</h1>
        {% if books == [] %}
            <p>No books to display</p>
        {% else %}
            {% for i in books %}
                <div>
                   <p> {{i.title}}<br />
                    <a href="{{url_for('editBook', book_id=i.id)}}">Edit book</a><br />
                    <a href="{{url_for('deleteBook', book_id=i.id)}}">Delete book</a>
                    <br />
                    </p>
                    <br />
                    <hr />
                    <br />
            {% endfor %}
                </div>
        {% endif %}
    </body>
    </html>
